*{
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto';
}

img {
    width: 100%;
}

.section-area {
    padding: 80px 0px;
}

.wrapper {
    width: 80%;
    margin: 0% 10%;
    overflow: hidden;
}

.wrap {
    width: 48%;
    padding: 0% 1%;
    float: left;
}

#welcome-section {
    background-image: url(../images/header-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.wrap h3 {
    font-size: 40px;
    font-weight: 400;
    margin-top: 110px;
    margin-bottom: 10px;
}

.wrap h2 {
    font-size: 60px;
    font-weight: 900;
    color: #EC4C7A;
    margin-bottom: 20px;
}

.wrap p {
    color: #7B7B7B;
    font-size: 15px;
    line-height: 1.6em;
    margin-bottom: 40px;
    padding-top: 10px;
}

.btn-link {
    background: #EC4C79;
    color: #FAD1E2;
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px 30px;
    border-radius: 5px;
    font-size: 15px;
    transition: 0.5s all ease;
}

.btn-link:hover {
    background: #f11755;
    color: #fff;
}

#biography-section {
    background-image: url("../images/biography-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.biography-content {
    margin-left: 60px;
    padding-top: 40px;
}

#work-section {
    background-image: url("../images/latest-work-bg.png");
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
}

.works h3 {
    font-size: 40px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 60px;
}

.work-item {
    float: left;
    width: 30%;
    margin: 0% 1%;
}

#client-section {
    background-image: url("../images/biography-bg.png");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.clients h3 {
    font-size: 40px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 60px;
}

.client-info {
    margin: 0 auto;
    width: 50%;
    text-align: center;
}

.client-info img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
}

.client-info h4 {
    font-size: 30px;
    font-weight: 700;
    margin-top: 20px;
}

.client-info h5 {
    font-size: 15px;
    font-weight: 100;
    color: #B7B7B7;
    margin-top: 5px;
    margin-bottom: 30px;
}

.client-info p {
    font-size: 18px;
    padding: 0px 15px;
    line-height: 1.6em;
    color: rgb(56, 49, 49);
}

.massage {
    margin: 60px auto;
    width: 60%;
    height: 60px;
    text-align: center;
    padding: 52px 15px;
    border-radius: 10px;
    color: white;
    background-image: linear-gradient(90deg, #EC5195, #ED4B72);
}

.massage h3 {
    font-size: 28px;
    font-weight: 600;
}

.massage p {
    font-size: 16px;
    margin-bottom: 20px;
}

#contact-section {
    background-image: url("../images/footer-bg.png");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.contact-info {
    width: 70%;
    margin: 0 auto;
}

.contact-info h3 {
    font-size: 40px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 60px;
}

.contact-info input {
    display: block;
    width: 100%;
    margin-bottom: 12px;
    padding: 15px 10px;
    font-size: 17px;
    border-radius: 5px;
    border: 1px solid #EC4C79;
}

.contact-info textarea {
    display: block;
    width: 100%;
    margin-bottom: 12px;
    padding: 15px 10px;
    font-size: 17px;
    border-radius: 5px;
    border: 1px solid #EC4C79;
    font-family: 'Roboto';
}

.submit-button {
    text-decoration: none;
    color: #FAD1D1;
    background-image: linear-gradient(90deg, #EC5195, #ED4B72);
    display: block;
    text-align: center;
    padding: 15px 8px;
    width: 100%;
    border-radius: 5px;
    margin-top: 20px;
    margin-left: 2px;
    font-size: 18px;
    font-weight: 600px;
}

.submit-button:hover {
    background: #EC4C79;
    color: #fff;
}

footer {
    width: 100%;
    text-align: center;
    height: 30px;
    padding-top: 12px;
    background-color: #eaebec;
    color: #949494;
}

